GRAFANA_ADMIN_PASSWORD=CHANGE_ME
GRAFANA_PORT=3005
VICTORIAMETRICS_PORT=8433
VICTORIAMETRICS_RETENTION=90d
CHECK_INTERVAL_HOURS=6
CHECK_ON_STARTUP=true
CHECK_DOCKER_HUB=true
# VIB_VICTORIAMETRICS_URL=http://vib-victoriametrics:8428
# TIB_VICTORIAMETRICS_URL=http://tib-victoriametrics:8428
